
body {
    background-image: url('back.png');
    background-size: cover;
    color: white;

    font-family: Roboto;
}

.larger_text {
    font-size: 18px;
}

.higher_text {
    line-height: 1.7;
}

.centered {
    max-width: 60em;
    margin: auto;
    padding: 1em;
}


.highlighted_top {
    background-color: #1a0e37;
    border-radius: 10px 10px 0px 0px;
}

.highlighted_bot {
    background-color: #120927;
    border-radius: 0px 0px 10px 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery img {
    width:45%;
    margin:auto;
}

.grow-image {
  width: 10% ;
  transition: width 0.3s ease;
  display: flex;
  margin: auto;          /* center it */
  gap: 1em;
  padding: 1em;
}

.grow-image:hover {
  cursor: pointer;
}

.grow-image:focus {
  width: 100%;          /* full screen width */
}